.root {
    background-color: aqua;
    border: 1px solid black;
}

.buttonStyle {
    justify-content: flex-end;
    margin-top: 10px;
}

.ms-TextField-fieldGroup fieldGroup-195 {
    border: none;
    border-radius: 10px;
}

.link-icons {
    margin-right: .5rem;
    color: black;
}

.ms-TextField-wrapper .ms-TextField-fieldGroup .fieldGroup-97 .feild-98 {
    width: 624px;
}

.descriptionInput {
    width: 58%;
}

.descriptionInput :active {
    border: none;
}

.rolesDropDown .title-85 {
    border: none;
    width: 100px;
    height: 30px;
}

.rolesDropDown .ms-Dropdown-title {
    background-color: transparent;
    border-width: 0px;
    border-style: solid;
    border-color: rgb(96, 94, 92);
    border-radius: 2px;
    border-bottom: solid 1px #605e5c;
}

.searchInput .ms-TextField-fieldGroup .fieldGroup-100 {
    border-radius: 4px;
}

@media only screen and (max-width: 1200px) {
    .searchBarClass {
        display: flex;
        flex-direction: column;
    }
}

.detail-list {
    width: 100%;
}

.searchBarClass {
    display: flex;
}

.ms-logo {
    width: 65px;
    margin-left: 30px;
}

/* .content {
    width: 100%;
    height: 100vh;
} */

.data-container {
    width: 100%;
    float: left;
    padding: 1%;
    height: 100%;
}

.right-container {
    width: 20%;
    float: left;
    padding: 1%;
    height: 100%;
    background: #ffffff;
}

.ms-DetailsList-headerWrapper .ms-DetailsHeader {
    background: #344f84;
    padding-top: 0;
}

.ms-DetailsList-headerWrapper .ms-DetailsHeader .ms-DetailsHeader-cell {
    color: #ffffff;
}

.ms-DetailsList-headerWrapper .ms-DetailsHeader .ms-DetailsHeader-cell:hover {
    background: #29416f;
}

.ms-DetailsList-headerWrapper .ms-DetailsHeader .ms-DetailsHeader-cell .ms-Icon {
    color: #FFF;
}

.pagination-style {
    display: flex;
    justify-content: flex-end;
}


.ms-Pagination-container {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}