.root {
    background-color: aqua;
    border: 1px solid black;
}

.buttonStyle {
    justify-content: flex-end;
    margin-top: 10px;
}

.ms-TextField-fieldGroup fieldGroup-195 {
    border: none;
    border-radius: 10px;
}

.link-icons {
    margin-right: .5rem;
    color: black;
}

.ms-TextField-wrapper .ms-TextField-fieldGroup .fieldGroup-97 .feild-98 {
    width: 624px;
}

.descriptionInput {
    width: 58%;
}
.descriptionInput :active {
    border: none;
}

.type-input{
    /* width: 58%; */
}