.root {
    background-color: aqua;
    border: 1px solid black;
}

.buttonStyle {
    justify-content: flex-end;
    margin-top: 10px;
}

/* .buttonStyle :ms-Button ms-Button--primary root-123 {
    margin-right: 10px;
} */

.ms-TextField-fieldGroup fieldGroup-195 {
    border: none;
    border-radius: 10px;
}