body {
  background-color: #f8f7fc;
}

.container {
  width: calc("100% - 20px");
  margin-left: 200px;
}

.sidebar {
  position: fixed;
  width: 208;
  background-color: #040848;
  height: 100%;
  left: 0;
  top: 0;
}

.view {
  padding-top: 75px;
}

.content {
  /* padding: 10px; */
  padding-top: 2rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: #FFF;
}

.root-110 {
  padding-bottom: 0px;
  padding-top: 0px;
}

.ms-DetailsHeader {
  /* border: 1px solid black; */
}

.right-panel {
  width: 450px;
  background-color: #FFF;
  height: 100%;
  position: fixed;
  right: 0;
  top: 56px;
  padding: 1rem;
}

.has-right-panel {
  margin-left: 2rem;
  margin-right: 2rem;
  width: calc(100% - 550px);
}

/* .visibleItemLabel-149 {
  display: none;
} */

.ms-Pagination-pageNumber {
  display: none;
}

.ms-TooltipHost .root-93 {
  display: none;
}

.visibleItemLabel-166 {
  display: none;
}

.ms-Dropdown.dropdown-106 {
  margin-right: 1rem;
}

.css-155 {
  display: none;
}

.sidebar .ms-Nav-link {
  background-color: transparent;
}

.sidebar .ms-Nav-link .ms-Icon {
  color: #FFF;
}

.sidebar .ms-Nav-link:hover, .sidebar .ms-Nav-compositeLink:hover .link-76, .ms-Nav-compositeLink:hover .link-81 {
  /* background-color: #0078d4 !important; */
  background-color: #f79420 !important;
}

.sidebar .main-logo img {
  width: 100px;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.sidebar .main-logo {
  text-align: center;
}

.ms-Button--primary.root-106 {
  background-color: #f79420;
  border-color: #f79420;
}

.ms-Button--primary.root-106:hover {
  background-color: #ea8c1e;
  border-color: #ea8c1e;
}

.ms-Nav-compositeLink.is-selected.compositeLink-46 {
  background-color: #f79420;
}

/* .ms-TooltipHost.root-175 {
  display: none;
} */

