/* .header {
    background-color: #FFF;
    position: fixed;
    z-index: 999;
    top: 80px;
    width: calc(100% - 200px);
    left: 200px;
    height: 50px;
    display: flex;
    align-items: center;
} */

.header{
    margin-top: 65px;
}