/* .login-header {
    width: 100%;
    height: 200px;
    border: 1px solid red;
} */

html, body, #root, .login-section, .login-banner-image, .login-section .row {
    height: 100%;
}

.login-banner-image {
    background: url("../../assets/img/megasoft_hrms.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: right;
}

.login-banner-image-overlay {
    background: rgba(0, 0, 0, 0.1);
    height: 100%;
}

.overlay-text-alignment {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login-banner-text {
    width: 60%;
    color: #FFF;
}

.home-banner {
    padding: 50px;
}

.home-banner-text {
    width: 100%;
    align-items: center;
    text-align: center;
}

.home-banner-text h2 {
    font-size: 70px;
    font-weight: 800;
}

.home-banner-text p {
    font-size: 21px;
}

.instruction {
    font-size: 16px;
    margin-top: 40px;
}

.home-banner-text span {
    color: #00597d;
}

.login-banner-text h2 {
    font-size: 70px;
    font-weight: 800;
}

.login-banner-text p {
    font-size: 21px;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
}

.login-form .ms-Button {
    margin-top: 0;
    padding: 1rem;
    height: auto;
}

.login-form .ms-Button .ms-Button-label {
    font-size: 1rem;
}
