.welcome-header {
    background-color: #f3eaea;
    position: fixed;
    z-index: 999;
    top: 0;
    width: calc(100% - 200px);
    left: 200px;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
    height: 40px;
}