.welcome-header {
    background-color: #f3eaea;
    position: fixed;
    z-index: 999;
    top: 0;
    width: calc(100% - 232px);
    left: 200px;
    /* box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28); */
    height: 50px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.welcome-header .ms-Dropdown-container .ms-Dropdown::after {
    border: 0px solid rgb(0, 120, 212);
}